#discord.py
git+https://github.com/Rapptz/discord.py.git

# For commands
python-dateutil 
pytz

# For music commands
#youtube-dl
yt-dlp
git+https://github.com/plamere/spotipy.git@master
beautifulsoup4

# database stuff
pymongo
pymongo[srv]

# For documentation
mkdocs
mkdocs-material
